<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=pageTitle %></title>
	<link rel="stylesheet" href='/styles/bootstrap.css'/>
	<link rel="stylesheet" href='/styles/site.css'/>
	<link rel="stylesheet" href='/styles/detail.css'/>
	<% include ../config/requirejsConfig.ejs %>
</head>
<body>
	<div class="header">
		<div class="main-header container">
			
		</div>
	</div>
	<div class="navigation" id="navigation">
		
	</div>
	<div id="detail-content" class="content-wrap"></div>
	<div id="footer"></div>
	<script type="text/javascript" src="/scripts/app/article/detail.js"></script> 
</body>
</html>