<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title><%=pageTitle %></title>
	<link rel="stylesheet" href='/styles/bootstrap.css'/>
	<link rel="stylesheet" href='/styles/site.css'/>
	<link rel="stylesheet" href='/styles/home.css'/>
	<% include ../config/requirejsConfig.ejs %>
</head>
<body>
	
	<div id="nav-bar"></div>	
	<div id="banner"></div>
	<div id="content"></div>
	<div id="footer"></div>
	
	<script type="text/javascript" src="/scripts/app/home/main.js"></script> 
</html>