<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=pageTitle %></title>
	<link rel="stylesheet" href='/styles/bootstrap.css'/>
	<link rel="stylesheet" href='/styles/site.css'/>
	<link rel="stylesheet" href='/styles/photo.css'/>
	<% include ../config/requirejsConfig.ejs %>
</head>
<body>
	<div id="nav-bar"></div>
	<div id="photo-content"class="content"></div>	
	<div id="footer"></div>
	
	<script type="text/javascript" src="/scripts/app/photo/main.js"></script> 
</body>
</html>