<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<link rel="stylesheet" href="/styles/test.css"/>
	<link rel="stylesheet" type="text/css" href="/styles/dialog.css">
	<% include ../config/requirejsConfig.ejs %>
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<div>
				<span>您好，</span><span>zhangxl</span>
			</div>
			<span id="title">请点击品牌，查看使用该品牌对应的售后信息发布平台</span>
		</div>
		<div class="content">
			<div class="brand-item-wrapper">
				<a href="javascript:;" class="brand-item">
					<img src="/styles/images/logo.png"/>
				</a>
				<a href="javascript:;" class="brand-item">
					<img src="/styles/images/logo.png"/>
				</a>
				<a href="javascript:;" class="brand-item">
					<img src="/styles/images/logo.png"/>
				</a>
			</div>
			<div class="brand-item-wrapper">
				<a href="javascript:;" class="brand-item">
					<img src="/styles/images/logo.png"/>
				</a>
				<span class="book-icon"></span>
				<span class="book-icon"></span>
			</div>
		</div>
		<div id="bg-before"></div>
	</div>
	
<!-- 	<script type="text/javascript" src="/scripts/app/test/main.js"></script> -->
</body>
</html>