<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title><%=pageTitle %></title>
	<link rel="stylesheet" href='/styles/bootstrap.css'/>
	<link rel="stylesheet" href='/styles/site.css'/>
	<link rel="stylesheet" href='/styles/note.css'/>
	<% include ../config/requirejsConfig.ejs %>
	<% include ../config/globalConfig.ejs %>
</head>
<body>
	<div id="nav-bar"></div>
	<div class="clock-wrapper">
		<canvas id="clock" width="500" height="500">您的浏览器不支持canvas</canvas>
	</div>
	
	<div id="comment-form">
	</div>
	<div id="footer"></div>

	<script type="text/javascript" src="/scripts/app/note/main.js"></script>
</body>
</html>